/* Global ===================== */
:root {
  --dark-blue: #363f5f;
  --blue: #5b74a0;
  --light-green: #3dd705;
  --red: #e92929;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 93.75%;
}
body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}
.container {
  width: min(90vw, 800px);
  margin: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Header/Menu */
header {
  background: #001051;
  padding: 2rem 0 6rem;
  text-align: center;
}
.titulo {
  color: white;
}
.menu {
  gap: 1rem;
  background: white;
  padding: 0.6rem;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 6px;
  align-items: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu a:hover {
  background: #001051;
  color: #fff;
}


.menu ul {
    display: block;
    text-align: center;
    margin: 10px 0;
}
nav #menu li {
  margin: 4px;
  display: inline;
}
.menu a {
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: 600;
  padding: 12px;
}
.menu a.active {
  color: var(--blue);
}
.menu a:hover {
  color: var(--blue);
}

/* Titles */
h2 {
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

/* Buttons */
a,
button {
  color: var(--blue);
  text-decoration: none;
}
.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}
button {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background: var(--blue);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
.button.cancel {
  color: var(--red);
  border: 2px var(--red) solid;
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

/* Balance */
#balance {
  margin-top: -6rem;
  display: block;
  padding: 3rem;
}
.card {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}
.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card p {
  font-size: 2rem;
  line-height: 3rem;
  white-space: nowrap;
  margin-top: 1rem;
}
.card.total {
  background: var(--blue);
  color: white;
}

/* Table */
#transaction {
  overflow-x: auto;
  width: 100%;
}
#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

#extrato-table {
    background: white;
    border-radius: 0.25rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    border-collapse: collapse;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}
table thead th {
  background: white;
  font-weight: normal;
  padding: 1rem 1rem;
  text-align: left;
}
table tbody tr {
  opacity: 0.9;
}
table tbody tr:hover {
  opacity: 1;
}
table tbody td {
  background: white;
  padding: 1rem 1rem;
}
td.description {
  color: var(--dark-blue);
}
td.income {
  color: #12a454;
}
td.expense {
  color: #e92929;
}

/* modal */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal {
  background: #f0f2f5;
  padding: 2.4rem;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}

/* form */
#form {
  max-width: 500px;
}
#form h2 {
  margin-top: 0;
}
input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}
.input-group {
  margin-top: 0.8rem;
}
.input-group .help {
  opacity: 0.6;
}
.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group.actions .button,
input[type="button"],
.input-group.actions button {
  width: 48%;
}

/* footer */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}

/* responsive */
@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .menu {
    justify-content: flex-start;
    padding: 1rem 2rem;
  }
}
